<a href="https://colab.research.google.com/github/yun2590/homework2025/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%20Unit10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
name = '홍길동'
age = 17
weight = 70.7
is_badman = False

In [3]:
name: str = '홍길동'
age: int = 17
weight: float = 70.7
is_badman: bool = False

In [4]:
booklist:list[str] = ['삼국지', '수호지', '초한지']

In [5]:
island: tuple[str, float, float] = ('독도', 131.52, 37.14)

In [6]:
top4_familyname: dict[str, int] = {'김씨':123456, '나씨':345811, '박씨':963123, '이씨':865909}

In [7]:
fruits: set[str] = {'사과', '배', '수박', '참외', '딸기'}

In [8]:
print(__annotations__)

{'name': <class 'str'>, 'age': <class 'int'>, 'weight': <class 'float'>, 'is_badman': <class 'bool'>, 'booklist': list[str], 'island': tuple[str, float, float], 'top4_familyname': dict[str, int], 'fruits': set[str]}

In [9]:
fruits: set[str] = {'사과', '배', '수박', '참외', '딸기'}
fruits = {1, 2, 3, 4, 5}
print(fruits)

{1, 2, 3, 4, 5}