<a href="https://colab.research.google.com/github/yun2590/homework2025/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%20Unit77.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
pi = 3.141592
text = '{}의 근사값은 {}입니다.'.format('원주율', pi)
print(text)

원주율의 근사값은 3.141592입니다.

In [7]:
print('{}의 근사값은 {:.2f} 입니다.'.format('원주율', pi))

원주율의 근사값은 3.14 입니다.

In [9]:
population = 8789911
text = '{}: {:,d} 명'.format('서울', population)
print(text)

서울: 8,789,911 명